@use "../custom" as *;

.blog-main {
  & a {
    text-decoration: none !important;
    color: $color-2;
    font-weight: 600;
  }

  h2 a {
    color: black;

    &:hover {
      color: $primary;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(92, 87, 118);
  }
}

.card-border-none {
  border: none;
}

.card {
  & .card-title {
    margin-bottom: 0px !important;
  }
}

.card-hover {
  border: solid $color-100 1px;
  & .card-text {
    font-size: 0.75rem !important;
    color: $color-700;
    font-weight: 300;
  }

  & span {
    font-weight: 600;
  }

  &:hover {
    border: solid $color-200 1px !important;
  }
}

.avatar-md {
  height: 2.5rem;
  width: 2.5rem;
}
